<% include ../partials/header %>

<div class="container">
  <div id="favorites-container">

    <% for (i = 0; i < faves.length; i += 1) { %>

    <div class="faves">

      <a href=<%= "/movies/" + faves[i].imdbId %>>
        <img id="favesPic" src="<%= faves[i].poster %>">

        <button type="hidden" class="removeButton xButton btn btn-default btn-lg" value=<%= "/favorites/" + faves[i].imdbId %>>
          <span class="glyphicon glyphicon-remove" aria-hidden="true" id="plus"></span>
        </button>
      </a>

      <a href=<%= "/favorites/" + faves[i].id + "/comments/" %>>
        <button type="hidden" class="commentButton btn btn-default btn-lg"
        action=<%= faves[i].id + "/comments/" %>>
        <span class="glyphicon glyphicon-comment" aria-hidden="true" id="plus"></span>
      </button>
    </a>

    <a href=<%= "/movies/" + faves[i].imdbId %>>
      <h5 id="favesTitle">
        <%= faves[i].title %></a>
        <small>(<%= faves[i].year %>)</small>
      </h5>

    </div>
    <% } %>
  </div>

</div>

<% include ../partials/footer %>